@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}
.digital-clock-container{
    margin: 200px 480px;
    padding: 40px;
    border: 5px solid rgb(10, 193, 239);
    box-shadow: 10px 15px 5px lightblue;
    background-color: black;
    color: aliceblue;
}

.digital-clock{
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}
.digit{
    margin: 7px;
    padding: 5px;
    font-size: 45px;
    font-family: 'Noto Nastaliq Urdu', serif;
}
.date{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
